<nav class="navbar">
  <div class="navbar-logo">
    <h1>Application Reservation Vélo</h1>
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/users">Utilisateurs</a></li>
    <li><a routerLink="/reservations">Réservations</a></li>
    <li><a routerLink="/velos">Vélos</a></li>
    <li><a routerLink="/map">Carte</a></li>
  </ul>
  <div class="navbar-actions">
    <!-- Add login/logout buttons or user-related actions here -->
    <a *ngIf="auth.isLogged()" (click)="logout()" class="logout-link">
      Déconnexion
    </a>

  </div>
</nav>
