<h2>Réservations</h2>

<button (click)="openCreateForm()">+ Ajouter une réservation</button>

<!-- FORMULAIRE -->
<div *ngIf="showForm" class="form-container">
  <h3>{{ isEditMode ? 'Modifier une réservation' : 'Créer une réservation' }}</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <label>Utilisateur ID</label>
    <input type="number" formControlName="utilisateurId">

    <label>Vélo ID</label>
    <input type="number" formControlName="veloId">

    <label>Quantité</label>
    <input type="number" formControlName="reservation">

    <button type="submit">
      {{ isEditMode ? 'Modifier' : 'Créer' }}
    </button>

    <button type="button" (click)="cancel()">Annuler</button>
  </form>
</div>

<hr>

<!-- TABLEAU -->
<h3>Liste des réservations</h3>

<table border="1">
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Vélo</th>
      <th>Quantité</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of reservations">
      <td>{{ r.utilisateurUsername }}</td>
      <td>{{ r.veloNom }}</td>
      <td>{{ r.reservation }}</td>
      <td>
        <button (click)="edit(r)">✏️</button>
        <button (click)="delete(r)">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>
