<div class="app-container">

  <header class="app-header">
    <h1>{{ title }}</h1>
    <h2>Reservation Vélo</h2>
  </header>

  <main class="app-main">

    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-dark my-5">
              <div class="card-body">
                <ul class="text-center list-inline py-3">
                  <li class="list-inline-item">
                    <a routerLink="/users" class="btn btn-info">Lister les utilisateurs</a>
                  </li>
                  <li class="list-inline-item">
                    <a routerLink="/addUser" class="btn btn-info">Ajouter un utilisateur</a>
                  </li>
                </ul>
              </div>
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<router-outlet></router-outlet>
